<div class="templatemo-top-bar" id="templatemo-top">
  <div class="container">
    <div class="subheader">
      <div id="phone" class="pull-left">
        <img src="assets/images/phone.png" alt="phone" /> +91 9884847142
      </div>
      <div id="email" class="pull-right">
        <img src="assets/images/email.png" alt="email" /> rajeevkumarsharma@outlook.com
      </div>
    </div>
  </div>
</div>
<div class="templatemo-top-menu">
  <div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">
            <img src="assets/images/templatemo_logo.png" alt="Urbanic Template" title="Urbanic Template" />
          </a>
        </div>
        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
          <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
            <li class="active">
              <a href="#templatemo-top">HOME</a>
            </li>
            <li>
              <a mat-button [matMenuTriggerFor]="animals">CORPORATE PROFILE <span><img  style="height: 18px;" src="assets/images/icon-arrow-down.png" alt="icon" /></span></a>
            </li>
            <!-- <button mat-button [matMenuTriggerFor]="animals">Animal index</button> -->

            <mat-menu #animals="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="aboutUs">About Us</button>
              <button mat-menu-item [matMenuTriggerFor]="services">Services</button>
            </mat-menu>

            <mat-menu #aboutUs="matMenu">
              <button mat-menu-item>Team</button>
              <button mat-menu-item>Products</button>
              <button mat-menu-item>Registeration</button>
              <button mat-menu-item>Services</button>
              <button mat-menu-item>Suggest</button>
            </mat-menu>

            <mat-menu #services="matMenu">
              <button mat-menu-item>Rehcrage</button>
              <button mat-menu-item>Baking</button>
              <button mat-menu-item>Online Education</button>
              <button mat-menu-item>Money Transfer</button>
              <button mat-menu-item>Insurance</button>
              <button mat-menu-item>Web Services</button>
            </mat-menu>



            <!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
            <!-- <li><a href="#templatemo-about">CORPORATE PROFILE</a></li> -->
            <li>
              <a href="#templatemo-portfolio">OUR PRODUCTS</a>
            </li>
            <li>
              <a href="#templatemo-blog">CAREERS</a>
            </li>
            <li>
              <a href="#templatemo-contact">CONTACT</a>
            </li>
            <li>
              <a rel="nofollow" href="" class="external-link" target="_parent">LOGIN/SIGNUP</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.navbar -->
  </div>
  <!-- /container -->
</div>
<!-- <app-banner></app-banner> -->
<div>
  <!-- Carousel -->
  <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#templatemo-carousel" data-slide-to="1"></li>
      <li data-target="#templatemo-carousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="item active">
        <img class="cor-image" src="assets/images/finance-1.jpg" alt="icon" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome To Life Clicks</h1>
            <p>Join, Grow, Blossom and Succeed</p>
            <p>
              <a class="btn btn-lg btn-green" href="#" role="button" style="margin: 20px;">Join Us</a>
              <a class="btn btn-lg btn-orange" href="#" role="button">Contact Us</a>
            </p>
          </div>
        </div>
      </div>

      <div class="item">
        <img class="cor-image" src="assets/images/mlm-1.jpg" alt="icon" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="txtOrange">Invest to Earn</h1>
            <p class="txtBlack">Refer to Get Commission</p>
            <p>
              <a class="btn btn-lg btn-orange" href="#" role="button">Refer</a>
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="cor-image" src="assets/images/services-1.png" alt="icon" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="txtOrange">One Stop Solution</h1>
            <p>Recharge, Finance, Money Transfer, Online Learning.. And More Coming Up</p>
            <!-- <p>
              <a class="btn btn-lg btn-orange" href="#" role="button">Details</a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#templatemo-carousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#templatemo-carousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <!-- /#templatemo-carousel -->
</div>

<div class="templatemo-welcome" id="templatemo-welcome">
  <div class="container">
    <div class="templatemo-slogan text-center">
      <span class="txt_darkgrey">You have a Problem</span>
      <span class="txt_orange">We have Solutions</span>
      <!-- <p class="txt_slogan">
        <i>You have a
          <strong>P</strong>roblem, We have
          <strong>S</strong>olutions</i>
      </p> -->
    </div>
  </div>
</div>

<div class="templatemo-service">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/leaf.png" alt="icon" />
            <span class="templatemo-service-item-header">Recharge</span>
          </div>
          <p>Online Recharge for Moblies, DTH, Datacard, Gas, Electricity, Broadband, Water, Get Best Recharge Plan Offers,
            Cashback Deals and Partner Discount Offers.</p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/leaf.png" alt="icon" />
            <span class="templatemo-service-item-header">Insurance</span>
          </div>
          <p>We provide affordable form of insurance like General Insurance, Rural Insurance, Industrial Insurance & Commercial
            Insurance.
          </p>
          <p [hidden]=true>(Personal Insurance- Medical, Accidental, Property & Vehicle.). Life Insurance- Whole Life plan, Endorement Plan,
            Money Back Plan, ULIPS Plan & Others- Home Insurance and Travel Insurance </p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/leaf.png" alt="icon" />
            <span class="templatemo-service-item-header">Banking</span>
          </div>
          <p>We offer you All Bank Account Opening, Cash Deposit & Cash Withdrawl Services. Easy to use with aadhaar link accounts.Anyone
            can use it.
          </p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/leaf.png" alt="icon" />
            <span class="templatemo-service-item-header">Web Solutions & Services</span>
          </div>
          <p> we are the master and Life Links Infotech can create and work with even the most complex projects that require
            phenomenal stability and security.


            <div class="text-center-services">
              <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
            </div>
            <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/mobile.png" alt="icon" />
            <span class="templatemo-service-item-header">Education</span>
          </div>
          <p>We provide online and web solution to train people on finance and making them aware about various intricacies of
            financial management.</p>

          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>

      </div>

      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/battery.png" alt="icon" />
            <span class="templatemo-service-item-header">Online Booking</span>
          </div>
          <p>The leading player in online bookings in India, Life links Infotech offers lowest fares, exclusive discounts and
            a seamless online booking experience..</p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>

      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/battery.png" alt="icon" />
            <span class="templatemo-service-item-header">Money Transfer</span>
          </div>
          <p>With Life Links infotech, it's easy to send money to your loved ones around the world. Transfer money to any bank
            account in India 24*7.INSTANT money transfer to beneficiary account through IMPS.
          </p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/battery.png" alt="icon" />
            <span class="templatemo-service-item-header">E-Governance</span>
          </div>
          <p>Electronic governance or e-governance is the application of information and communication technology (ICT) for
            delivering government services, exchange of information, communication transactions. framework.
          </p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>
      <div class="col-md-4">
        <div class="templatemo-service-item">
          <div>
            <img src="assets/images/battery.png" alt="icon" />
            <span class="templatemo-service-item-header">Other Services</span>
          </div>
          <p>All others like legal services,tax services,VAT registration, GST Pay. Life Links Infotech provides all services
            at affordable cost.
          </p>
          <div class="text-center-services">
            <a href="#" class="templatemo-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>

    </div>
  </div>
</div>

<div class="templatemo-team" id="templatemo-about">
  <div class="container">
    <div class="row">
      <div class="templatemo-line-header">
        <div class="text-center">
          <hr class="team_hr team_hr_left" />
          <span>CORPORATE PROFILE</span>
          <hr class="team_hr team_hr_right" />
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
    <ul class="row row_team">
      <li class="col-lg-3 col-md-3 col-sm-6 ">
        <div class="text-center">
          <div class="member-thumb">
            <img src="assets/images/member1.jpg" class="img-responsive" alt="member 1" />
            <div class="thumb-overlay">
              <a href="#">
                <span class="social-icon-fb"></span>
              </a>
              <a href="#">
                <span class="social-icon-twitter"></span>
              </a>
              <a href="#">
                <span class="social-icon-linkedin"></span>
              </a>
            </div>
          </div>
          <div class="team-inner">
            <p class="team-inner-header">TRACY</p>
            <p class="team-inner-subtext">Designer</p>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-6 ">
        <div class="text-center">
          <div class="member-thumb">
            <img src="assets/images/member2.jpg" class="img-responsive" alt="member 2" />
            <div class="thumb-overlay">
              <a href="#">
                <span class="social-icon-fb"></span>
              </a>
              <a href="#">
                <span class="social-icon-twitter"></span>
              </a>
              <a href="#">
                <span class="social-icon-linkedin"></span>
              </a>
            </div>
          </div>
          <div class="team-inner">
            <p class="team-inner-header">Vishal Sharma</p>
            <p class="team-inner-subtext">Developer</p>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-6 ">
        <div class="text-center">
          <div class="member-thumb">
            <img src="assets/images/member3.jpg" class="img-responsive" alt="member 3" />
            <div class="thumb-overlay">
              <a href="#">
                <span class="social-icon-fb"></span>
              </a>
              <a href="#">
                <span class="social-icon-twitter"></span>
              </a>
              <a href="#">
                <span class="social-icon-linkedin"></span>
              </a>
            </div>
          </div>
          <div class="team-inner">
            <p class="team-inner-header">JULIA</p>
            <p class="team-inner-subtext">Director</p>
          </div>
        </div>
      </li>
      <li class="col-lg-3 col-md-3 col-sm-6 ">
        <div class="text-center">
          <div class="member-thumb">
            <img src="assets/images/member4.jpg" class="img-responsive" alt="member 4" />
            <div class="thumb-overlay">
              <a href="#">
                <span class="social-icon-fb"></span>
              </a>
              <a href="#">
                <span class="social-icon-twitter"></span>
              </a>
              <a href="#">
                <span class="social-icon-linkedin"></span>
              </a>
            </div>
          </div>
          <div class="team-inner">
            <p class="team-inner-header">LINDA</p>
            <p class="team-inner-subtext">Manager</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /.templatemo-team -->

<div id="templatemo-portfolio">
  <div class="container">
    <div class="row">
      <div class="templatemo-line-header">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="txt_darkgrey">OUR PORTFOLIO</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="templatemo-gallery-category" style="font-size:16px; margin-top:80px;">
        <div class="text-center">
          <a class="active" href=".gallery">All</a> /
          <a href=".gallery-design">Web Design </a>/
          <a href=".gallery-graphic">Graphic</a> /
          <a href=".gallery-inspiration">Inspiration</a> /
          <a href=".gallery-creative">Creative</a>
        </div>
      </div>
    </div>
    <!-- /.row -->


    <div class="clearfix"></div>
    <div class="text-center">
      <ul class="templatemo-project-gallery">
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic">
          <a class="colorbox" href="assets/images/full-gallery-image-1.jpg" data-group="gallery-graphic">
            <div class="templatemo-project-box">

              <img src="assets/images/gallery-image-1.jpg" class="img-responsive" alt="gallery" />

              <div class="project-overlay">
                <h5>Graphic</h5>
                <hr />
                <h4>TEA POT</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative">
          <a class="colorbox" href="assets/images/full-gallery-image-2.jpg" data-group="gallery-creative">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-2.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Creative</h5>
                <hr />
                <h4>BREAKFAST</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-3.jpg" data-group="gallery-inspiration">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-3.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>GREEN COLORS</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-design">
          <a class="colorbox" href="assets/images/full-gallery-image-4.jpg" data-group="gallery-design">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-4.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Web Design</h5>
                <hr />
                <h4>CAMERA</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-5.jpg" data-group="gallery-inspiration">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-5.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>PLANT</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-6.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>CABLE TRAIN</h4>
              </div>
            </div>
          </a>
        </li>

        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-design">
          <a class="colorbox" href="assets/images/full-gallery-image-7.jpg" data-group="gallery-design">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-7.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Web Design</h5>
                <hr />
                <h4>CITY</h4>
              </div>
            </div>
          </a>
        </li>

        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-creative">
          <a class="colorbox" href="assets/images/full-gallery-image-8.jpg" data-group="gallery-creative">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-8.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Creative</h5>
                <hr />
                <h4>BIRDS</h4>
              </div>
            </div>
          </a>
        </li>

        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-graphic">
          <a class="colorbox" href="assets/images/full-gallery-image-9.jpg" data-group="gallery-graphic">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-9.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Graphic</h5>
                <hr />
                <h4>NATURE</h4>
              </div>
            </div>
          </a>
        </li>

        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-10.jpg" data-group="gallery-inspiration">
            <div class="templatemo-project-box">
              <img src="assets/images/gallery-image-10.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>DOGGY</h4>
              </div>
            </div>
          </a>
        </li>

      </ul>
      <!-- /.gallery -->
    </div>
    <div class="clearfix"></div>
    <div class="row text-center">
      <a class="btn_loadmore btn btn-lg btn-orange" href="#" role="button">LOAD MORE</a>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.templatemo-portfolio -->

<div id="templatemo-blog">
  <div class="container">
    <div class="row">
      <div class="templatemo-line-header" style="margin-top: 0px;">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="span_blog txt_darkgrey">BLOG POSTS</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>
      <br class="clearfix" />
    </div>

    <div class="blog_box">
      <div class="col-sm-5 col-md-6 blog_post">
        <ul class="list-inline">
          <li class="col-md-4">
            <a href="#">
              <img class="img-responsive" src="assets/images/blog-image-1.jpg" alt="gallery 1" />
            </a>
          </li>
          <li class="col-md-8">
            <div class="pull-left">
              <span class="blog_header">GRAPHIC DESIGN</span>
              <br/>
              <span>Posted by :
                <a class="link_orange" href="#">
                  <span class="txt_orange">Tracy</span>
              </a>
              </span>
            </div>
            <div class="pull-right">
              <a class="btn btn-orange" href="#" role="button">21 February 2084</a>
            </div>
            <div class="clearfix"> </div>
            <p class="blog_text">
              Aliquam quis rutrum risus, ut condimentum ipsum. Nullam aliquet libero augue, eget auctor felis vulputate id. Proin a enim
              eu libero ornare malesuada. Sed iaculis fringilla lacinia. Sed laoreet lectus vitae [...]
            </p>
          </li>
        </ul>
      </div>
      <!-- /.blog_post 1 -->

      <div class="col-sm-5 col-md-6 blog_post">
        <ul class="list-inline">
          <li class="col-md-4">
            <a href="#">
              <img class="img-responsive" src="assets/images/blog-image-2.jpg" alt="gallery 2" />
            </a>
          </li>
          <li class="col-md-8">
            <div class="pull-left">
              <span class="blog_header">WEBSITE TEMPLATE</span>
              <br/>
              <span>Posted by :
                <a class="link_orange" href="#">
                  <span class="txt_orange">Mary</span>
              </a>
              </span>
            </div>
            <div class="pull-right">
              <a class="btn btn-orange" href="#" role="button">18 February 2084</a>
            </div>
            <div class="clearfix"> </div>
            <p class="blog_text">
              Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat
              sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]
            </p>
          </li>
        </ul>
      </div>
      <!-- /.blog_post 2 -->

      <div class="templatemo_clear"></div>

      <div class="col-sm-5 col-md-6 blog_post">
        <ul class="list-inline">
          <li class="col-md-4">
            <a href="#">
              <img class="img-responsive" src="assets/images/blog-image-2.jpg" alt="gallery 3" />
            </a>
          </li>
          <li class="col-md-8">
            <div class="pull-left">
              <span class="blog_header">WEB DEVELOPMENT</span>
              <br/>
              <span>Posted by :
                <a class="link_orange" href="#">
                  <span class="txt_orange">Julia</span>
              </a>
              </span>
            </div>
            <div class="pull-right">
              <a class="btn btn-orange" href="#" role="button">14 February 2084</a>
            </div>
            <div class="clearfix"> </div>
            <p class="blog_text">
              Fusce molestie tellus risus, id commodo turpis convallis id. Morbi mattis sapien sapien, vitae lacinia ante interdum sit
              amet. Praesent eget varius diam, ac tempor est. Mauris at scelerisque magna [...]
            </p>
          </li>
        </ul>
      </div>
      <!-- /.blog_post 3 -->

      <div class="col-sm-5 col-md-6 blog_post">
        <ul class="list-inline">
          <li class="col-md-4">
            <a href="#">
              <img class="img-responsive" src="assets/images/blog-image-1.jpg" alt="gallery 4" />
            </a>
          </li>
          <li class="col-md-8">
            <div class="pull-left">
              <span class="blog_header">NEW FLUID LAYOUT</span>
              <br/>
              <span>Posted by :
                <a class="link_orange" href="#">
                  <span class="txt_orange">Linda</span>
              </a>
              </span>
            </div>
            <div class="pull-right">
              <a class="btn btn-orange" href="#" role="button">11 February 2084</a>
            </div>
            <div class="clearfix"> </div>
            <p class="blog_text">
              In venenatis sodales purus a cursus. Ut consectetur, libero ac elementum tristique, enim ante aliquet mauris, scelerisque
              congue magna neque ac purus. Aliquam facilisis volutpat odio [...]
            </p>
          </li>
        </ul>
      </div>
      <!-- /.blog_post 4 -->

    </div>
  </div>
</div>

<div id="templatemo-contact">
  <div class="container">
    <div class="row">
      <div class="templatemo-line-header head_contact">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="txt_darkgrey">CONTACT US</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>

      <div class="col-md-8">
        <div class="templatemo-contact-map" id="map-canvas"> </div>
        <div class="clearfix"></div>
        <i>You can find us on 80 Dagon Studio, Yankin Street,
          <span class="txt_orange">Life Click Infotech</span> in Yangon.</i>
      </div>
      <div class="col-md-4 contact_right">
        <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit pendisse as a molesti.</p>
        <p>
          <img src="assets/images/location.png" alt="icon 1" /> 80 Dagon Studio, Yakin Street, Digital Estate</p>
        <p>
          <img src="assets/images/phone1.png" alt="icon 2" /> 090-080-0110</p>
        <p>
          <img src="assets/images/globe.png" alt="icon 3" />
          <a class="link_orange" href="#">
            <span class="txt_orange">www.company.com</span>
          </a>
        </p>
        <form class="form-horizontal" action="#">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Name..." maxlength="40" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email..." maxlength="40" />
          </div>
          <div class="form-group">
            <textarea class="form-control" style="height: 130px;" placeholder="Write down your message..."></textarea>
          </div>
          <button type="submit" class="btn btn-orange pull-right">SEND</button>
        </form>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#templatemo-contact -->


<div class="templatemo-tweets">
  <div class="container">
    <div class="row" style="margin-top:20px;">
      <div class="col-md-2">
      </div>
      <div class="col-md-1">
        <img src="assets/images/quote.png" alt="icon" />
      </div>
      <div class="col-md-7 tweet_txt">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendiise as a molesti neque vestibulum, persiutsor de
          andues mare fricilus ipsum dolor sit amet cons forukus.</span>
        <br/>
        <span class="twitter_user">Moe Moe, Yangon</span>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div class="templatemo-partners">
  <div class="container">
    <div class="row">


      <div class="templatemo-line-header">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="txt_darkgrey">OUR PARTNERS</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>
      <div class="clearfix"></div>


      <div class="text-center">

        <div style="margin-top:60px;">
          <ul class="list-inline">
            <li class="col-sm-2 col-md-2 templatemo-partner-item">
              <a href="#">
                <img src="assets/images/partner1.jpg" class="img-responsive" alt="partner 1" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 templatemo-partner-item">
              <a href="#">
                <img src="assets/images/partner2.jpg" class="img-responsive" alt="partner 2" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 templatemo-partner-item">
              <a href="#">
                <img src="assets/images/partner3.jpg" class="img-responsive" alt="partner 3" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 templatemo-partner-item">
              <a href="#">
                <img src="assets/images/partner4.jpg" class="img-responsive" alt="partner 4" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 templatemo-partner-item">
              <a href="#">
                <img src="assets/images/partner5.jpg" class="img-responsive" alt="partner 5" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 templatemo-partner-item">
              <a href="#">
                <img src="assets/images/partner6.jpg" class="img-responsive" alt="partner 6" />
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="templatemo-footer">
  <div class="container">
    <div class="row">
      <div class="text-center">

        <div class="footer_container">
          <ul class="list-inline">
            <li>
              <a href="#">
                <span class="social-icon-fb"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-rss"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-linkedin"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-dribbble"></span>
              </a>
            </li>
          </ul>
          <div class="height30"></div>
          <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
          <div class="height30"></div>
        </div>
        <div class="footer_bottom_content">
          <span id="footer-line">Copyright © 2084
            <a href="#">Your Company Name</a>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- templatemo 395 urbanic -->