<div class="life-clicks-top-bar" id="life-clicks-top">
  <div class="container">
    <div class="subheader">
      <div id="phone" class="pull-left">
        <img src="assets/images/phone.png" alt="phone" /> +91 9884847142
      </div>
      <div id="email" class="pull-right">
        <img src="assets/images/email.png" alt="email" /> rajeevkumarsharma@outlook.com
      </div>
    </div>
  </div>
</div>
<div class="life-clicks-top-menu">
  <div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">
            <img src="assets/images/life-clicks_logo.png" alt="Urbanic Template" title="Urbanic Template" />
          </a>
        </div>
        <div class="navbar-collapse collapse" id="life-clicks-nav-bar">
          <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
            <li class="active">
              <a href="#life-clicks-top">HOME</a>
            </li>
            <li>
              <a mat-button [matMenuTriggerFor]="animals">CORPORATE PROFILE <span><img  style="height: 18px;" src="assets/images/icon-arrow-down.png" alt="icon" /></span></a>
            </li>
            <!-- <button mat-button [matMenuTriggerFor]="animals">Animal index</button> -->

            <mat-menu #animals="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="aboutUs">About Us</button>
              <button mat-menu-item [matMenuTriggerFor]="services">Services</button>
            </mat-menu>

            <mat-menu #aboutUs="matMenu">
              <button mat-menu-item>Team</button>
              <button mat-menu-item>Products</button>
              <button mat-menu-item>Registeration</button>
              <button mat-menu-item>Services</button>
              <button mat-menu-item>Suggest</button>
            </mat-menu>

            <mat-menu #services="matMenu">
              <button mat-menu-item>Rehcrage</button>
              <button mat-menu-item>Baking</button>
              <button mat-menu-item>Online Education</button>
              <button mat-menu-item>Money Transfer</button>
              <button mat-menu-item>Insurance</button>
              <button mat-menu-item>Web Services</button>
            </mat-menu>



            <!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
            <!-- <li><a href="#life-clicks-about">CORPORATE PROFILE</a></li> -->
            <li>
              <a href="#life-clicks-portfolio">OUR PRODUCTS</a>
            </li>
            <li>
              <a href="#life-clicks-portfolio">FREE SERVICES</a>
            </li>
            <!-- <li>
              <a href="#life-clicks-blog">CAREERS</a>
            </li> -->
            <li>
              <a href="#life-clicks-contact">CONTACT</a>
            </li>
            <li>
              <a rel="nofollow" href="" class="external-link" target="_parent">LOGIN/SIGNUP</a>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.navbar -->
  </div>
  <!-- /container -->
</div>
<!-- <app-banner></app-banner> -->
<div>
  <!-- Carousel -->
  <div id="life-clicks-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#life-clicks-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#life-clicks-carousel" data-slide-to="1"></li>
      <li data-target="#life-clicks-carousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="item active">
        <img class="cor-image" src="assets/images/finance-1.jpg" alt="icon" />
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome To Life Clicks</h1>
            <p>Join, Grow, Blossom and Succeed</p>
            <p>
              <a class="btn btn-lg btn-green" href="#" role="button" style="margin: 20px;">Join Us</a>
              <a class="btn btn-lg btn-orange" href="#" role="button">Contact Us</a>
            </p>
          </div>
        </div>
      </div>

      <div class="item">
        <img class="cor-image" src="assets/images/mlm-1.jpg" alt="icon" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="txtOrange">Invest to Earn</h1>
            <p class="txtBlack">Refer to Get Commission</p>
            <p>
              <a class="btn btn-lg btn-orange" href="#" role="button">Refer</a>
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="cor-image" src="assets/images/services-1.png" alt="icon" />
        <div class="container">
          <div class="carousel-caption">
            <h1 class="txtOrange">One Stop Solution</h1>
            <p>Recharge, Finance, Money Transfer, Online Learning.. And More Coming Up</p>
            <!-- <p>
              <a class="btn btn-lg btn-orange" href="#" role="button">Details</a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#life-clicks-carousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#life-clicks-carousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <!-- /#life-clicks-carousel -->
</div>

<div class="life-clicks-welcome" id="life-clicks-welcome">
  <div class="container">
    <div class="life-clicks-slogan text-center">
      <span class="txt_darkgrey">You have a Problem</span>
      <span class="txt_orange">We have Solutions</span>
      <!-- <p class="txt_slogan">
        <i>You have a
          <strong>P</strong>roblem, We have
          <strong>S</strong>olutions</i>
      </p> -->
    </div>
  </div>
</div>

<div class="life-clicks-service">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/recharge.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">Recharge</span>
          </div>
          <p>Online Recharge for Moblies, DTH, Datacard, Gas, Electricity, Broadband, Water, Get Best Recharge Plan Offers,
            Cashback Deals and Partner Discount Offers.</p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/insurance.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">Insurance</span>
          </div>
          <p>We provide affordable form of insurance like General Insurance, Rural Insurance, Industrial Insurance & Commercial
            Insurance.
          </p>
          <p [hidden]=true>(Personal Insurance- Medical, Accidental, Property & Vehicle.). Life Insurance- Whole Life plan, Endorement Plan,
            Money Back Plan, ULIPS Plan & Others- Home Insurance and Travel Insurance </p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/banking.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">Banking</span>
          </div>
          <p>We offer you All Bank Account Opening, Cash Deposit & Cash Withdrawl Services. Easy to use with aadhaar link accounts.Anyone
            can use it.
          </p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/web-solution.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">Web Solutions & Services</span>
          </div>
          <p> we are the master and Life Links Infotech can create and work with even the most complex projects that require
            phenomenal stability and security.


            <div class="text-center-services">
              <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
            </div>
            <br class="clearfix" />
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/education.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">E-Learning</span>
          </div>
          <p>We provide online and web solution to train people on finance and making them aware about various intricacies of
            financial management.</p>

          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>

      </div>

      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/ebooking.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">E-Booking</span>
          </div>
          <p>The leading player in online bookings in India, Life links Infotech offers lowest fares, exclusive discounts and
            a seamless online booking experience..</p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>

      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/moneytransfer.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">Money Transfer</span>
          </div>
          <p>With Life Links infotech, it's easy to send money to your loved ones around the world. Transfer money to any bank
            account in India 24*7.INSTANT money transfer to beneficiary account through IMPS.
          </p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/egovernance.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">E-Governance</span>
          </div>
          <p>Electronic governance or e-governance is the application of information and communication technology (ICT) for
            delivering government services, exchange of information, communication transactions. framework.
          </p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>
      <div class="col-md-4">
        <div class="life-clicks-service-item">
          <div>
            <img src="assets/images/services/others.jpg" alt="icon" />
            <span class="life-clicks-service-item-header">Other Services</span>
          </div>
          <p>All others like legal services,tax services,VAT registration, GST Pay. Life Links Infotech provides all services
            at affordable cost.
          </p>
          <div class="text-center-services">
            <a href="#" class="life-clicks-btn-read-more btn btn-orange">Details</a>
          </div>
          <br class="clearfix" />
        </div>
        <br class="clearfix" />
      </div>

    </div>
  </div>
</div>

<div class="life-clicks-team" id="life-clicks-about">
  <div class="container">
    <div class="row">
      <div class="life-clicks-line-header">
        <div class="text-center">
          <hr class="team_hr team_hr_left" />
          <span>Our Products</span>
          <hr class="team_hr team_hr_right" />
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
    <h1 class="alignCenter">COMING SOON</h1>
  </div>
</div>

<!-- /.life-clicks-team -->

<div id="life-clicks-portfolio">
  <div class="container">
    <div class="row">
      <div class="life-clicks-line-header">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="txt_darkgrey">Free Services</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
    <!-- /.row -->


    <div class="clearfix"></div>
    <div class="text-center">
      <ul class="life-clicks-project-gallery">
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic">
          <a class="colorbox" href="assets/images/full-gallery-image-1.jpg" data-group="gallery-graphic">
            <div class="life-clicks-project-box">

              <img src="assets/images/services/idfc.jpg" class="img-responsive" alt="gallery" />

              <div class="project-overlay">
                <h5>IDFC Bank</h5>
                <hr />
                <a href="https://secured.idfcbank.com/lc/zero-balance-savings-account-online-SA.html?source=website&campaignId=2765">Click Here</a>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative">
          <a class="colorbox" href="assets/images/full-gallery-image-2.jpg" data-group="gallery-creative">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/rbl.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>RBL Bank</h5>
                <hr />
                <a href="https://abacus.rblbank.com/rbl/DigiAqui/default/index.html#one">Click Here</a>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-3.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/sbi.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>SBI</h5>
                <hr />
                <a href="https://oaa.onlinesbi.com/csp/onlineAccOpenOaoProcess.htm">Click Here</a>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-design">
          <a class="colorbox" href="assets/images/full-gallery-image-4.jpg" data-group="gallery-design">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/pnb.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Web Design</h5>
                <hr />
                <h4>CAMERA</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-5.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/epf.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>PLANT</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/lic.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>CABLE TRAIN</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/lic.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>CABLE TRAIN</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/lic.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>CABLE TRAIN</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/lic.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>CABLE TRAIN</h4>
              </div>
            </div>
          </a>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration">
          <a class="colorbox" href="assets/images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
            <div class="life-clicks-project-box">
              <img src="assets/images/services/lic.jpg" class="img-responsive" alt="gallery" />
              <div class="project-overlay">
                <h5>Inspiration</h5>
                <hr />
                <h4>CABLE TRAIN</h4>
              </div>
            </div>
          </a>
        </li>


      </ul>
      <!-- /.gallery -->
    </div>
    <div class="clearfix"></div>
    <div class="row text-center">
      <a class="btn_loadmore btn btn-lg btn-orange" href="#" role="button">LOAD MORE</a>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.life-clicks-portfolio -->

<div id="life-clicks-blog">
  <div class="container">
    <div class="row">
      <div class="life-clicks-line-header" style="margin-top: 0px;">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="span_blog txt_darkgrey">BLOG POSTS</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>
      <br class="clearfix" />
    </div>
    <h1 class="alignCenter">COMING SOON</h1>
  </div>
</div>

<div id="life-clicks-contact">
  <div class="container">
    <div class="row">
      <div class="life-clicks-line-header head_contact">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="txt_darkgrey">CONTACT US</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>

      <!-- <div class="col-md-8">
        <div class="life-clicks-contact-map" id="map-canvas"> </div>
        <div class="clearfix"></div>
        <i>You can find us on Andul Road, Bokultala
          <span class="txt_orange">Life Click Infotech</span> in Kolkata.</i>
      </div> -->
      <div class="col-md-offset-4 col-md-4 contact_right">

        <p>
          <img src="assets/images/location.png" alt="icon 1" /> Kolkata</p>
        <p>
          <img src="assets/images/phone1.png" alt="icon 2" /> +91 9122139707</p>
        <p>
          <img src="assets/images/globe.png" alt="icon 3" />
          <a class="link_orange" href="#">
            <span class="txt_orange">www.lifeclicksinfotech.com</span>
          </a>
        </p>
        <form class="form-horizontal" action="#">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Name..." maxlength="40" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email..." maxlength="40" />
          </div>
          <div class="form-group">
            <textarea class="form-control" style="height: 130px;" placeholder="Write down your message..."></textarea>
          </div>
          <button type="submit" class="btn btn-orange pull-right">SEND</button>
        </form>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /#life-clicks-contact -->


<div class="life-clicks-tweets">
  <div class="container">
    <div class="row" style="margin-top:20px;">
      <div class="col-md-2">
      </div>
      <div class="col-md-1">
        <img src="assets/images/quote.png" alt="icon" />
      </div>
      <div class="col-md-7 tweet_txt">
        <span>Coming together is a beginning; keeping together is progress; working together is success</span>
        <br/>
        <span class="twitter_user">Henry Ford</span>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>

<div class="life-clicks-partners">
  <div class="container">
    <div class="row">


      <div class="life-clicks-line-header">
        <div class="text-center">
          <hr class="team_hr team_hr_left hr_gray" />
          <span class="txt_darkgrey">OUR PARTNERS</span>
          <hr class="team_hr team_hr_right hr_gray" />
        </div>
      </div>
      <div class="clearfix"></div>


      <div class="text-center">

        <div style="margin-top:60px;">
          <ul class="list-inline">
            <li class="col-sm-2 col-md-2 life-clicks-partner-item">
              <a href="#">
                <img src="assets/images/partner1.jpg" class="img-responsive" alt="partner 1" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 life-clicks-partner-item">
              <a href="#">
                <img src="assets/images/partner2.jpg" class="img-responsive" alt="partner 2" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 life-clicks-partner-item">
              <a href="#">
                <img src="assets/images/partner3.jpg" class="img-responsive" alt="partner 3" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 life-clicks-partner-item">
              <a href="#">
                <img src="assets/images/partner4.jpg" class="img-responsive" alt="partner 4" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 life-clicks-partner-item">
              <a href="#">
                <img src="assets/images/partner5.jpg" class="img-responsive" alt="partner 5" />
              </a>
            </li>
            <li class="col-sm-2 col-md-2 life-clicks-partner-item">
              <a href="#">
                <img src="assets/images/partner6.jpg" class="img-responsive" alt="partner 6" />
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="life-clicks-footer">
  <div class="container">
    <div class="row">
      <div class="text-center">

        <div class="footer_container">
          <ul class="list-inline">
            <li>
              <a href="#">
                <span class="social-icon-fb"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-rss"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-linkedin"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="social-icon-dribbble"></span>
              </a>
            </li>
          </ul>
          <div class="height30"></div>
          <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
          <div class="height30"></div>
        </div>
        <div class="footer_bottom_content">
          <span id="footer-line">Copyright © 2018
            <a href="#">Life Clicks Communications</a>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- life-clicks 395 urbanic -->